body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
